#boxreg {
    /* border: 5px solid black; */
    margin: 50px;
    width: 800px;
    height: 569px;
    margin-left: 330px;
    position: absolute;
    background-color:transparent;
    box-shadow: 3px 3px black;
    background: url(./images/desktop.jpg);
    background-size: cover;
    border-radius: 40px;
    /* align-items: center;
    justify-content: center; */
}

#btnjdl{
    text-decoration: none;
}

#boxlog {
    /* border: 5px solid white; */
    margin: 50px;
    width: 800px;
    height: 569px;
    margin-left: 330px;
    position: absolute;
    background-color: transparent;
    box-shadow: 3px 3px black;
    background: url(./images/desktop.jpg);
    background-size: cover;
    border-radius: 40px;
    /* text-decoration: none; */
}

#dashboard{
    position: absolute;
    /* border: 5px solid black; */
}

Link {
    text-decoration: none;
}

#dashboardnav{
    /* border: 5px solid black; */
}

.forget:hover{
    cursor: pointer;
}

.my {
    font-weight: bold;
    color: #6495ED;
}

.sql {
    color: orange;
}

.formGroup input {
    border: none;
    width: 75%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}


input:focus {
    /* outline: none; */
    border: none;
    border-bottom: 2px solid rgb(91, 243, 131);
    font-size: 17px;
    font-weight: bold;
    color: white;
}

#bgjdl {
    padding: 30px;
    color: white;
    text-align: center;
    border: 2px solid black;
    /* background-image: url(./images/kira.png); */

    background-size: cover;
    width: 1000px;
    box-shadow: 0 5px 30px black;
    margin-right: 140px;
}

#bgjdl h1 {
    background-color: black;
    /* background-color: transparent; */
    /* background: linear-gradient(red black); */
    box-shadow: 0 5px 30px black;
    padding: 5px;
}

#bgjdl p {
    background-color: black;
    /* background-color: transparent; */
    box-shadow: 0 5px 30px black;
    text-align: left;
    font-weight: bold;
}

.rct {
    font-weight: bold;
    color: #61DBFB;
}

#body{
    background: url(./images/Coding.jpg);
    /* background-color: #61DBFB; */
    background-size: cover;
}